<h3>login</h3>
<hr>

<div class='well'>
  <%= form_tag '/login' do %>
  <div class='control-group'>
    <%= label_tag :username %>
    <%= text_field_tag :username %>
  </div>
  <div class='control-group'>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
    <%= submit_tag 'login', class: 'btn btn-primary' %>
  <% end %>
</div>
