<h5>update post</h5>

<% if @post.errors.any? %>
  <div class='alert alert-error'>
    <%= @post.errors.full_messages.join(',') %>
  </div>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  </br>
  <%= f.label :url %>
  <%= f.text_field :url %>
  </br>
  <%= f.submit 'update post', class: 'btn' %>
<% end %>
