<h3>Welcome!</h3>

<p>Latest posts:</p>

<hr>
<ul>
<% @posts.each do |post| %>
  <div class='well'>
    (
      <%= link_to '+', vote_post_path(post, vote: true), method: 'post', remote: true %>
      <span id="post_<%= post.id %>_votes"><%= post.total_votes %></span>
      <%= link_to '-', vote_post_path(post, vote: false), method: 'post', remote: true %>
    )
    <% post.categories.each do |c| %>
      <p class= "text-warning">
        <%= "#{c.name}" %>
      </p>
    <% end %>

    <%= link_to post.title, post_path(post) %>
      <small>
        [<%= link_to 'posted url', fix_url(post.url) %>] posted at
        <%= display_datetime(post.created_at) %> |
        <%= link_to 'edit', edit_post_path(post) %>
      </small>
  </div>
<% end %>
</ul>
