<h3>looking at post entitled: <%= @post.title %></h3>
<p>url: <%= @post.url %></p>
<p>description: <%= @post.description %></p>
</br>
<p>
  <% if logged_in? %>
    <%= render 'shared/errors', obj: @comment %>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :body %>
      </br>
      <%= f.submit "create comment", class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <h4>commnets:</h4>
  <ol>
    <% @post.comments.each do |comment| %>
      <li><%= comment.body %> by <%= comment.creator.username %></li>
    <% end %>
  </ol>
</p>
